<div class="container">
  <div class="row mt-4 h-100">
    <!-- First box -->
    <div class="col-5">
      <p class="label">Available : <a class="action-button" (click)="selectAll()">Select All</a></p>
      <div class="multi-select pt-1">
        <div class="row m-0">
          <div class="mt-2 mx-1" *ngFor="let valueLeft of firstForm; index as i"
            [ngClass]="[checkLeftAvail(valueLeft) ? 'form-values-selected' : 'form-values']"
            (click)="selectLeftValue(valueLeft)">
            {{valueLeft}}
          </div>
        </div>

      </div>
    </div>

    <!-- Action arrows -->
    <div class="col-1 my-auto pt-4 text-center">
      <div (click)="sendToRight()">
        <i title="send to right" class="fas fa-long-arrow-alt-right arrow"></i>
      </div>
      <div (click)="sendToLeft()">
        <i title="send to left" class="fas fa-long-arrow-alt-left arrow"></i>
      </div>
    </div>

    <!-- Second box -->
    <div class="col-5">
      <p class="label">Selected : <a class="action-button" (click)="clear()">Clear All</a></p>
      <div class="multi-select pt-1">
        <div class="row m-0">
          <div class="mt-2 mx-1" *ngFor="let valueRight of uniqueSecondFormValues; index as i"
            [ngClass]="[checkRightAvail(valueRight) ? 'form-values-selected' : 'form-values']"
            (click)="selectRightValue(valueRight)">
            {{valueRight}}
          </div>
        </div>
      </div>
    </div>

  </div>
</div>